.global-alert-area {
    display: flex;
    align-items: center;
    .global-alert[mode="default"] {
        display: flex;
        justify-content: space-between;
        max-width: remCalculation(500);
        padding: remCalculation(10) remCalculation(15);
        box-sizing: border-box;
        align-items: center;
        border-radius: remCalculation(8);
        span {
            @include fontCalculation( $normal, 18, 27, $roboto, #fff);
        }
        @include closeIcon;
        @each $type-name,
        $type-color in $color-set {
            &[type="#{$type-name}"] {
                background: $type-color;
                .close:before,
                .close:after {
                    background-color: lighten($color: $type-color, $amount: 60);
                }
            }
        }
    }
    .global-alert[mode="border"] {
        display: flex;
        justify-content: space-between;
        max-width: remCalculation(500);
        padding: remCalculation(10) remCalculation(15);
        box-sizing: border-box;
        align-items: center;
        border-radius: remCalculation(8);
        span {
            @include fontCalculation( $normal, 18, 27, $roboto, #fff);
        }
        @include closeIcon;
        @each $type-name,
        $type-color in $color-set {
            &[type="#{$type-name}"] {
                background: transparent;
                border: remCalculation(2) solid $type-color;
                span {
                    color: $type-color;
                }
                .close:before,
                .close:after {
                    background-color: $type-color;
                }
            }
        }
    }
    .global-alert[mode="border-left"] {
        display: flex;
        justify-content: space-between;
        max-width: remCalculation(500);
        padding: remCalculation(10) remCalculation(15);
        box-sizing: border-box;
        align-items: center;
        border-radius: remCalculation(8);
        span {
            @include fontCalculation( $normal, 18, 27, $roboto, #fff);
        }
        @include closeIcon;
        @each $type-name,
        $type-color in $color-set {
            &[type="#{$type-name}"] {
                background: transparent;
                border: 1px solid $type-color;
                border-left: remCalculation(4) solid $type-color;
                border-right: remCalculation(4) solid $type-color;
                span {
                    color: $type-color;
                }
                .close:before,
                .close:after {
                    background-color: $type-color;
                }
            }
        }
    }
    .global-alert[mode="shadow"] {
        display: flex;
        justify-content: space-between;
        max-width: remCalculation(500);
        padding: remCalculation(10) remCalculation(15);
        box-sizing: border-box;
        align-items: center;
        span {
            @include fontCalculation( $normal, 18, 27, $roboto, #fff);
        }
        @include closeIcon;
        @each $type-name,
        $type-color in $color-set {
            &[type="#{$type-name}"] {
                border-top: 3px solid $type-color;
                box-shadow: 1px 1px 4px colorOpacity($type-color, 0.3);
                span {
                    color: $type-color;
                }
                .close:before,
                .close:after {
                    background-color: $type-color;
                }
            }
        }
    }
    .global-alert[mode="border-left2"] {
        display: flex;
        justify-content: space-between;
        max-width: remCalculation(500);
        padding: remCalculation(10) remCalculation(15);
        box-sizing: border-box;
        align-items: center;
        border-radius: remCalculation(4);
        span {
            @include fontCalculation( $normal, 18, 27, $roboto, #fff);
        }
        @include closeIcon;
        @each $type-name,
        $type-color in $color-set {
            &[type="#{$type-name}"] {
                background: colorOpacity($type-color, 0.2);
                border-left: 5px solid $type-color;
                box-shadow: 0 0 2px 1px $type-color;
                span {
                    color: $type-color;
                }
                .close:before,
                .close:after {
                    background-color: $type-color;
                }
            }
        }
    }
}