<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="prism.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/app.css">

</head>

<body>
<div class="container-fluid">
	<div class="col-12 kapsayici">
			<div class="col-3">
				<div class="col-12">
					<div class="col-12 dokuman">Dökümantasyon</div>
					<a href="#css3-prefix">CSS3 Prefix</a>
					<a href="#transition">transition</a>
					<a href="#font-scale">media for font-size</a>
					<a href="#link-color">link color</a>
					<a href="#before-after">Before & After</a>
					<a href="#font-set">Font Set</a>
					<a href="#font-face">Font Face</a>
					<a href="#font-face2">Font Face Final</a>
					<a href="#box-shadow">Box Shadow</a>
					<a href="#alert">Alert</a>
					<a href="#double-borders">double borders</a>
					<a href="#truncate">Truncate</a>
					<a href="#line-clamp">Line Clamp</a>
					<a href="#background">Background</a>
					<a href="#scrollbar">ScrollBar</a>
					<a href="#font-calculation">Font Calculation</a>
					<a href="#color-opacity">Color Opacity</a>
					<a href="#arrow">Arrow</a>
					<a href="#border-image">Border Image</a>
					<a href="#close-icon">Close Icon</a>
					<a href="#px-to-rem">Px to Rem</a>
					<a href="#color-opacity-function">Color Opacity Function</a>
					<a href="#chevron">Chevron</a>


					
				</div>
			</div>
			<div class="col-9">
				<div id="css3-prefix">

					<h4>Css3 Prefix</h4>
					

<div class="col-12 example-area">
<div class="col-12 aciklama">
	$prop => property (box-sizing) , $value => (border-box)
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin css3-prefix($prop, $value) {
	-webkit-#{$prop}: #{$value};
	-moz-#{$prop}: #{$value};
	-ms-#{$prop}: #{$value};
	-o-#{$prop}: #{$value};
	#{$prop}: #{$value};
}
</code></pre>


<pre class="langueage-css col-6"><code class="language-css">
	.example{ 
		@include css3-prefix(transition,3s) 
	} 
	.example{ 
		-webkit-transition: 3s;
		-moz-transition: 3s;
		-ms-transition: 3s;
		-o-transition: 3s;
		transition: 3s; 
	}
</code></pre>
</div>
				</div>

				<!--  -->

				<div id="transition">

					<h4>Transition</h4>
					

<div class="col-12 example-area">
<div class="col-12 aciklama">
	$transition => transition value (1s)
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}
</code></pre>


<pre class="langueage-css col-6"><code class="language-css">
.example{ 
	@include transition(200ms) 
} 
.example{ 
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-ms-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}
</code></pre>
</div>
				</div>
<!--  -->
				<div id="font-scale">

					<h4>Media queries for font size</h4>
					

<div class="col-12 example-area">
<div class="col-12 aciklama">
	$max-width => maximum ekran ölçüsü , $min-break => minimum ekran ölçüsü , $break => kaç adet font size olacağını belirler
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin font-size-scale($max-width: 1366px, $min-break: 375px, $max: 6) {
	html {
		@for $i from 2 to $max {
			@media(max-width: $max-width - ceil(($max-width - $min-break)/($max - $i))) {
				font-size: 100% - ($i - 1)*6%;
			}
		}
	}
}
</code></pre>


<pre class="langueage-css col-6"><code class="language-css">

@include font-size-scale(1920px,375px,8)

@media (max-width: 1662px) {
	html {
	  font-size: 94%;
	}
  }
  
  @media (max-width: 1611px) {
	html {
	  font-size: 88%;
	}
  }
  
  @media (max-width: 1533px) {
	html {
	  font-size: 82%;
	}
  }
  
  @media (max-width: 1405px) {
	html {
	  font-size: 76%;
	}
  }
  
  @media (max-width: 1147px) {
	html {
	  font-size: 70%;
	}
  }
  
  @media (max-width: 375px) {
	html {
	  font-size: 64%;
	}
  }
  
</code></pre>
</div>
			</div>
			<!--  -->

<div id="link-color">
<h4>Link color</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$link => button rengi , $visited => :visited rengi , $hover => :focus ve :hover rengi , $active => :active rengi
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin link-colors($link, $visited, $hover, $active) {
	color: $link;
	&:visited {
		color: $visited;
	}
	&:hover,
	&:focus {
		color: $hover;
	}
	&:active {
		color: $active;
	}
}
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
button{
	@include link-colors(#000,#fff,#b00000,#c5c5c5)
}

button {
	color: #000;
}
  
  button:visited {
	color: #fff;
}
  
  button:hover, button:focus {
	color: #b00000;
}
  
  button:active {
	color: #c5c5c5;
}
</code></pre>
</div>
</div>
<!--  -->

<div id="before-after">
<h4>Before & After</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$display => display (flex) varsayılan block , $content => after veya before content varsayılan ('')
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin before($display: block, $content: '') {
	&:before {
		display: $display;
		content: $content;
		@content;
	}
}

@mixin after($display: block, $content: '') {
	&:after {
		display: $display;
		content: $content;
		@content;
	}
}
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include after(inline-block,url(ex.svg)){
		color:red;
	}
	
	@include after(flex,attr(data-id)){
		color:green;
		width:20px;
	}
}

.example:after {
	display: inline-block;
	content: url(ex.svg);
	color: red;
}
  
.example:after {
	display: flex;
	content: attr(data-id);
	color: green;
	width: 20px;
}
</code></pre>
</div>
</div>

<!--  -->

<div id="font-set">
<h4>Font Set</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$name => font name , $url => font url (string olarak girilmesi gerekiyor) , $type => font type (.otf) *font-weight'leri font-set map'in den çekmektedir.
</div>
<pre class="langueage-css col-6"><code class="language-css">
$font-set: ("light": 200, "regular": 400, "bold": 700, "black":900);
@mixin font-set($name,$url,$type) {
	@each $font-name,
	$font-weight in $font-set {
		@font-face {
			font-family: $name;
			src: url('#{$url}#{$font_weight}.#{$type}') format('opentype');
			font-weight: $font_weight;
			font-style: normal;
		}
	}
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
@include font-set(Nexa,'../nexa/Nexa',otf)

@font-face {
	font-family: Nexa;
	src: url("../nexa/Nexa200.otf") format("opentype");
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: Nexa;
	src: url("../nexa/Nexa400.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}
  
  @font-face {
	font-family: Nexa;
	src: url("../nexa/Nexa700.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}
  
  @font-face {
	font-family: Nexa;
	src: url("../nexa/Nexa900.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}
</code></pre>
</div>
</div>

<!--  -->

<div id="font-face">
<h4>Font Face</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$font-name => font ismi , $file-url => dosya yolu , $file-name => font dosyası ismi , $weight => font-weight varsayılan normal , $style => font-style varsayılan normal
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin font-face($font-name,$file-url,$file-name,$weight: normal,$style: normal) {
	@font-face {
		font-family: quote($font-name);
		src: url($file-url + '/' + $file-name + '.eot');
		src: url($file-url + '/' + $file-name + '.eot?#iefix') format('embedded-opentype'),
		url($file-url + '/' + $file-name + '.woff') format('woff'),
		url($file-url + '/' + $file-name + '.ttf') format('truetype'),
		url($file-url + '/' + $file-name + '.svg##{$font-name}') format('svg');
		font-weight: $weight;
		font-style: $style;
	}
}
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
@include font-face(SFProDisplay,'../sf',SFPro,600,italic)

@font-face {
	font-family: "SFProDisplay";
	src: url("../sf/SFPro.eot");
	src: url("../sf/SFPro.eot?#iefix") format("embedded-opentype"), 
		 url("../sf/SFPro.woff") format("woff"), 
		 url("../sf/SFPro.ttf") format("truetype"), 
		 url("../sf/SFPro.svg#SFProDisplay") format("svg");
	font-weight: 600;
	font-style: italic;
}
  
</code></pre>
</div>
</div>

<!--  -->

<div id="font-face2">
<h4>Font Face Final</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$font-name => font ismi , $file-url => dosya yolu , $file-name => font dosyası ismi , $style => font-style varsayılan normal diğerine ek olarak font weight ler
font set mapinden gelmektedir.
</div>
<pre class="langueage-css col-6"><code class="language-css">
$font-set: ("light": 200, "regular": 400, "bold": 700, "black":900);

@mixin font-face($font-name,$file-url,$file-name,$style: normal) {
	@each $font-name,
	$font-weight in $font-set {
		@font-face {
			font-family: quote($font-name);
			src: url($file-url + '/' + $file-name + '.eot');
			src: url($file-url + '/' + $file-name + '.eot?#iefix') format('embedded-opentype'),
			url($file-url + '/' + $file-name + '.woff') format('woff'),
			url($file-url + '/' + $file-name + '.ttf') format('truetype'),
			url($file-url + '/' + $file-name + '.svg##{$font-name}') format('svg');
			font-weight: $font-weight;
			font-style: $style;
		}
	}
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
@include font-face(SFProDisplay,'../sf',SFPro,600,italic)

@font-face {
	font-family: "light";
	src: url("../sf/SFPro.eot");
	src: url("../sf/SFPro.eot?#iefix") format("embedded-opentype"), 
		 url("../sf/SFPro.woff") format("woff"), 
		 url("../sf/SFPro.ttf") format("truetype"), 
		 url("../sf/SFPro.svg#light") format("svg");
	font-weight: 200;
	font-style: italic;
}
  
@font-face {
	font-family: "regular";
	src: url("../sf/SFPro.eot");
	src: url("../sf/SFPro.eot?#iefix") format("embedded-opentype"), 
		 url("../sf/SFPro.woff") format("woff"), 
		 url("../sf/SFPro.ttf") format("truetype"), 
		 url("../sf/SFPro.svg#regular") format("svg");
	font-weight: 400;
	font-style: italic;
}
  
@font-face {
	font-family: "bold";
	src: url("../sf/SFPro.eot");
	src: url("../sf/SFPro.eot?#iefix") format("embedded-opentype"), 
		 url("../sf/SFPro.woff") format("woff"), 
		 url("../sf/SFPro.ttf") format("truetype"), 
		 url("../sf/SFPro.svg#bold") format("svg");
	font-weight: 700;
	font-style: italic;
}
  
@font-face {
	font-family: "black";
	src: url("../sf/SFPro.eot");
	src: url("../sf/SFPro.eot?#iefix") format("embedded-opentype"), 
		 url("../sf/SFPro.woff") format("woff"), 
		 url("../sf/SFPro.ttf") format("truetype"), 
		 url("../sf/SFPro.svg#black") format("svg");
	font-weight: 900;
	font-style: italic;
}
  
	
</code></pre>
</div>
</div>

<!--  -->

<div id="box-shadow">
<h4>Default box shadow</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$x => yatay , $y => dikey , $blur => bulanıklık değeri , $color => renk , $inset => inset durumu varsayılan olarak boş bir değer girilmedikçe 
normal box shadow olarak ekler inset boş olmazsa box shadow'a inset value ekler *box shadow'u prefixleyerek vermektedir. 
<a href="#css3-prefix"> css3 prefix </a> mixini içermektedir.
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin box-shadow($x: 2px,$y: 2px,$blur: 5px,$color: #000,$inset: "") {
	@if ($inset !="") {
		@include css3-prefix('box-shadow',
		$inset $x $y $blur $color);
	}
	@else {
		@include css3-prefix('box-shadow',
		$x $y $blur $color);
	}
}
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include box-shadow(2px,4px,5px,#e35252,inset)
}

.example{
	-webkit-box-shadow: inset 2px 4px 5px #e35252;
	-moz-box-shadow: inset 2px 4px 5px #e35252;
	-ms-box-shadow: inset 2px 4px 5px #e35252;
	-o-box-shadow: inset 2px 4px 5px #e35252;
	box-shadow: inset 2px 4px 5px #e35252;
}
	
</code></pre>
</div>
</div>

<!--  -->

<div id="alert">
<h4>Alert Mixin</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$background => background rengi , $color => color , $border-radius => radius değeri
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin alert($background:#002281,$color:#fff,$border-radius:8px) {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	padding: 15px 20px;
	box-sizing: border-box;
	align-items: center;
	font: 400 18px/24px "Roboto";
	color: $color;
	border-radius: $border-radius;
	background: $background;
}
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include alert(#b00000,#fff,8px)
}

.example{
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	padding: 15px 20px;
	box-sizing: border-box;
	align-items: center;
	font: 400 18px/24px "Roboto";
	color: #fff;
	border-radius: 8px;
	background: #b00000;
}
	
</code></pre>
</div>
</div>

<!--  -->
	

<div id="double-borders">
<h4>Double Borders</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$colorOne => ilk border rengi , $sizeOne => ilk border kalınlığı , $colorTwo => ikinci border rengi , $sizeTwo => ikinci border kalınlığı ,
$radius => border radius değeri
<a href="#css3-prefix"> css3 prefix </a> mixini içermektedir.
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin double-borders($colorOne: #3C3C3C, $sizeOne:1px, $colorTwo: #999999,$sizeTwo:1px,$radius: 0) {
	border: $sizeOne solid $colorOne;
	@include css3-prefix('box-shadow',
	0 0 0 $sizeTwo $colorTwo);
	border-radius: $radius;
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include double-borders(green,2px,#000,3px,8px)
}

.example{
	border: 2px solid green;
	-webkit-box-shadow: 0 0 0 3px #000;
	-moz-box-shadow: 0 0 0 3px #000;
	-ms-box-shadow: 0 0 0 3px #000;
	-o-box-shadow: 0 0 0 3px #000;
	box-shadow: 0 0 0 3px #000;
	border-radius: 8px;
}
	
</code></pre>
</div>
</div>

<!--  -->

<div id="truncate">
<h4>Truncate</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
sadece @include truncate diyerek kullanılır
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include truncate
}

.example{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
	
</code></pre>
</div>
</div>

<!--  -->

<div id="line-clamp">
<h4>Line Clamp</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$line => webkit-line-clamp -> satır sayısı 
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin lineClamp($line) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include lineClamp(3)
}

.example{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
	
</code></pre>
</div>
</div>

<!--  -->


<div id="background">
<h4>Background</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$width => genişlik , $height => yükseklik , $url => url(ex.svg) ilgili img dosya yolu, $repeat => img tekrar value varsayılan no-repeat,
$horizantal => img yatay konumu varsayılan center , $vertical => img dikey konumu varsayılan center , $color => varsa ek renk yoksa varsayılan transparent,
$display => display property varsayılan inline-block
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin background($width,
	$height,
	$url,
	$repeat:no-repeat,
	$horizantal:center,
	$vertical:center,
	$color:transparent,
	$display:inline-block) {
		background: $color $url $repeat $horizantal $vertical;
		width: $width;
		height: $height;
		display: $display;
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include background(20px,20px,url(ex.svg),repeat-x,100vh,50%,transparent,flex)
}

.example{
	background: transparent url(ex.svg) repeat-x 100vh 50%;
	width: 20px;
	height: 20px;
	display: flex;
}
	
</code></pre>
</div>
</div>

<!--  -->


<div id="scrollbar">
<h4>Scroll Bar</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$height => yükseklik varsayılan 3px , $width => genişlik varsayılan 3px , $radius => radius değeri varsayılan %50,
$scColor => scrollbar color varsayılan transparent , $thColor => thumb color varsayılan siyah
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin scrollBarColor($width:3px,
	$height:3px,
	$radius:50%,
	$scColor:transparent,
	$thColor:#000) {
		&::-webkit-scrollbar {
			width: $width;
			height: $height;
			background: $scColor;
			border-radius: $radius;
		}
		&::-webkit-scrollbar-button {
			display: none;
		}
		&::-webkit-scrollbar-thumb {
			background: $thColor;
			border-radius: $radius;
		}
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
    @include scrollBarColor(3px,3px,50%,red,green)
}

.example::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	background: red;
	border-radius: 50%;
}
  
.example::-webkit-scrollbar-button {
	display: none;
}
  
.example::-webkit-scrollbar-thumb {
	background: green;
	border-radius: 50%;
}
	
</code></pre>
</div>
</div>
	
<!--  -->

<div id="font-calculation">
<h4>Font Calculation</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$weight => font-weight , $font-size => font-size , $line-height => line-height , $font-family => varsayılan değeri none herhangi birşey girerseniz
kod'a ekleyecektir , $color => varsayılan transparenttir , $opacity varsayılan 1 dir girdiğiniz değere göre hesaplama yapar
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin fontCalculation($weight,
	$font-size,
	$line-height,
	$font-family:none,
	$color:transparent,
	$opacity:1) {
		font: $weight $font-size/$globalRem*1rem #{'/'} $line-height/$globalRem*1rem;
		@if ($font-family != none){
			font-family:$font-family;
			
		}
		
		@if ($color != transparent){
			@include colorOpacity($color,$opacity);

		}
	
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
    @include fontCalculation(400,2,4,Nunito,#000,0.4)
}

.example{
	font: 400 0.125rem / 0.25rem;
	font-family: Nunito;
	color: rgba(0,0,0,0.4);
}
	
</code></pre>
</div>
</div>
	
<!--  -->


<div id="color-opacity">
<h4>Color Opacity</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$color => renk kodu , $opacity => opacity değeri 
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin colorOpacity($color,$opacity:1) {
	color: colorOpacity($color, $opacity);
}
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
    @include colorOpacity(#000,0.6)
}

.example{
	color:rgba(0,0,0,0.6)
}
	
</code></pre>
</div>
</div>
	
<!--  -->

<div id="arrow">
<h4>Arrow</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$direction: üçgen yönü default olarak down , diğer yönler right,left,up , $size => üçgen boyutu , $color => üçgen rengi 
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin arrow($direction: down,
	$size: 5px,
	$color: #555) {
		width: 0;
		height: 0;
		@if ($direction==left) {
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-right: $size solid $color;
		}
		@else if ($direction==right) {
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-left: $size solid $color;
		}
		@else if ($direction==down) {
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-top: $size solid $color;
		}
		@else {
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-bottom: $size solid $color;
		}
}
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include arrow(up,20px,#000)
}

.example{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #000;
}
	
</code></pre>
</div>
</div>
	
<!--  -->

<div id="border-image">
<h4>Border Image</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$borderWidth: border genişliği , $url => border image dosya yolu , $slice => slice value(100) , $mode => border-mode (round) 
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin borderImg($borderWidth,
	$url,
	$slice,
	$mode) {
		border: $borderWidth solid transparent;
		border-image: $url $slice $mode
}
	
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.example{
	@include borderImg(4px,url(ex.svg),100,round)
}

.example{
	border: 4px solid transparent;
	border-image: url(ex.svg) 30 round;
}
	
</code></pre>
</div>
</div>
	
<!--  -->

<div id="close-icon">
<h4>close icon</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$size: icon size, $width => icon kalınlığı , $color => icon rengi , $opacity => icon opacity 
</div>
<pre class="langueage-css col-6"><code class="language-css">
@mixin closeIcon($size,$width,$color,$opacity) {
	.close {
		position: relative;
		width: $size;
		height: $size;
		opacity: $opacity;
		cursor: pointer;
	}
	.close:hover {
		opacity: 1;
	}
	.close:before,
	.close:after {
		position: absolute;
		left: $size;
		content: ' ';
		height: $size;
		width: $width;
		background-color: $color;
	}
	.close:before {
		transform: rotate(45deg);
	}
	.close:after {
		transform: rotate(-45deg);
	}
}
	
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
@include closeIcon(30px,3px,#e35252,0.5)

.close {
	position: relative;
	width: 30px;
	height: 30px;
	opacity: 0.5;
	cursor: pointer;
}
  
.close:hover {
	opacity: 1;
}
  
.close:before,
.close:after {
	position: absolute;
	left: 30px;
	content: ' ';
	height: 30px;
	width: 3px;
	background-color: #e35252;
}
  
.close:before {
	transform: rotate(45deg);
}
  
.close:after {
	transform: rotate(-45deg);
}
	
</code></pre>
</div>
</div>
	
<!--  -->

<div id="color-opacity-function">
<h4>Color Opacity Function</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$color => renk değeri , $opacity => çevirilecek opacity değeri 
</div>
<pre class="langueage-css col-6"><code class="language-css">
@function colorOpacity($color, $opacity:1) {
	@return rgba($color, $opacity)
};
	
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.element{
	color:colorOpacity(#b00000,0.8);
}

.element {
	color: rgba(176, 0, 0, 0.8);
}
  
	
</code></pre>
</div>
</div>
	
<!--  -->


<div id="px-to-rem">
<h4>Px to Rem</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$pxValue: rem'e çevirelecek px değeri 
</div>

<pre class="langueage-css col-6"><code class="language-css">
$globalRem : 16;
@function remCalculation($pxValue) {
	@return ($pxValue / $globalRem)  * 1rem
}
	
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.element{
	font-size:remCalculation(25);
}

.element {
	font-size: 1.5625rem;
}
  
	
</code></pre>
</div>
</div>
	
<!--  -->


<div id="chevron">
<h4>Chevron</h4>
<div class="col-12 example-area">
<div class="col-12 aciklama">
$width => genişlik , $yükseklik => yükseklik , $thick => kalınlık , $color => renk , $rotation => yönü
</div>

<pre class="langueage-css col-6"><code class="language-css">
@mixin chevron($width:10px,$height:10px,$thick:5px,$color:#000,$rotation:up){

	&:before{
		border-style: solid;
		border-width: $thick $thick 0 0;
		content: '';
		display: inline-block;
		height: $height;
		width: $width;
		@if ($rotation == up){
		transform: rotate(-45deg);
		} @else if ($rotation == 'right'){
		transform: rotate(45deg);
		} @else if ($rotation == 'left'){
		transform: rotate(225deg);
		} @else if ($rotation == 'down'){
		transform: rotate(-225deg);
		}
		
		@content;
	}
	
	}
	
	
</code></pre>
<pre class="langueage-css col-6"><code class="language-css">
.chevron{
	@include chevron(20px,20px,2px,#000,left);
}

.chevron:before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 20px;
	width: 20px;
	transform: rotate(225deg);
	background: red;
}

	
	
</code></pre>
</div>
</div>
	
<!--  -->
	
	

				</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="prism.js"></script>
</body>

</html>